html, body, h2 {
    margin:0;
}
h2 {
    color:red;
    mix-blend-mode: exclusion;
    font: 900 35vmin/35vh cookie, cursive;
    
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    user-select: none;
}
.bg1 {
    height:100vh;
    background: url('https://image.freepik.com/free-vector/abstract-background-with-3d-pattern_1319-68.jpg');
}
.bg2 {
    height:100vh;
    background: url('https://image.freepik.com/free-vector/seamless-texture-with-randomly-spaced-points_2960-29.jpg');
}
.bg3 {
    height:100vh;
    background: url('https://image.freepik.com/free-vector/seamless-floral-pattern-uniform-background-ornament-darkcyan-design-fabric-art-fashion-contour_1284-44199.jpg');
}